.div {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    padding: 1vh;
    text-align: center;
}

.notVisible {
    opacity: 0;
    pointer-events: none;
    transition: 1s ease;

}

.visible {
    opacity: 1;
    pointer-events:all;
    transition: 1s ease;
    margin-left: 5px;
    font-size: 150%;
}

.icon {
    font-size: 150%;
    padding: 5px;
    float: left;
    cursor: pointer;
    transition:1s;
}
