.div {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    padding: 1vh;
    text-align: center;
}

.notVisible {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events:all;
    transition: 1s ease;
}

.icon {
    cursor: pointer;
    transition: transform 1s;
}
