.section {
  display: grid;
  place-items: center;
  padding: 0vh 0 70vh;
  font-size: 175%;
  overflow: hidden;
  max-width: 90%;
}

.section:nth-child(2) {
  padding: 30vh 0 70vh;
}

.section__right--div {
  display: flex;
  width: 70%;
}

.section__right--img {
  flex-basis: 80%;
}

@media (max-width: 575.98px) {
  .section__right--div {
    display: block;
    width: 100%;
  }
  .section__right--img {
    content: url("../assets/img/Tasklist_mediaPhone.png");
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.15s;
  transition-delay: 700ms;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
