.section {
    display: grid;
    place-items: center;
    margin: 15% 0;
    font-size: 125%;
    overflow: hidden;
    max-width: 80%;
}


.hidden {
opacity: 0;
filter: blur(5px);
transform: translateX(-100%);
transition: all 1.15s;
}

.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
}

