.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.15s;
    transition-delay: 700ms;
  }
  
  @media (prefers-reduced-motion) {
    .hidden, .slideFromLeft {
      transition: none;
    }
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .slideFromLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1.15s;
    transition-delay: 700ms;
    overflow: hidden;
  }

  .showFromLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(-5%);
  }

  .coolHover {
    background-image: 
    linear-gradient(90deg, white, gray);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition:  300ms ease;
    font-size: 100%;
  }
  .coolHover:hover {
    background-size: 100% 3px;
  }