.section {
  display: grid;
  place-items: center;
  padding: 35vh 0 35vh;
  font-size: 175%;
  overflow-x: hidden;
  max-width: 90%;
}

.section__last--footer {
  padding: 35vh 0 4vh;
}

.section__right {
  display: flex;
  justify-content: center;
  width: 90%;
}

.section__right--img {
  flex-basis: 80%;
  border-radius: 5px;
}
.section__left {
  flex-basis: 20%;
  text-align: center;
}
.section__right--imgBack {
  box-shadow: rgba(246, 246, 248, 0.25) 0px 50px 100px -20px,
    rgba(211, 208, 208, 0.3) 0px 30px 60px -30px,
    rgba(232, 236, 239, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  .section__right {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
  }

  .section__right--img {
    width: auto;
    max-width: 350px;
  }
  .section__right--imgBack {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
      rgba(255, 255, 255, 0.3) 0px 30px 60px -30px,
      rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    border-radius: 5px;
  }
}

@media (max-width: 1500px) {
  .section__right {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
  }
  .section__right--img {
    width: auto;
    max-width: 600px;
  }
}

.section__iconLink {
  display: flex;
}

.section__iconLink--icon {
  padding: 5px;
}

.section__footer--links {
  display: flex;
  padding: 5px;
}

.section__last {
  padding: 0;
  overflow: hidden;
}
